<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Shop Homepage - Start Bootstrap Template</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/bootstrap/css/shop-homepage.css" rel="stylesheet">
<!-- html분리 -->
<script src="/js/includeHTML.js"></script>
</head>
<body>
	<!-- Navigation 분리 -->
	<nav include-html="/html/nav.html"></nav>

	<div style = "width:70%; text-align:center; margin-left:auto;margin-right:auto;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>추천수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
					<td th:text="${row.postNumber}"></td>
					<td>
						<a th:href="@{/gshop/view.do( postNumber=${row.postNumber} )}" th:text="${row.postTitle}"></a>
					</td>
					<td th:text="${row.userID}"></td>
					<td th:text="${row.postInputDate}"></td>
					<!-- <td th:text="${#temporals.format( row.postInputDate, 'yyyy-MM-dd' )}"></td> -->
					<td th:text="${row.postRecommend}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty( boardList )}">
					<td colspan="5">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>

		<div class="btn_wrap text-right">
			<a th:href="@{/gshop/write.do}" class="btn btn-primary waves-effect waves-light">글쓰기</a>
		</div>
	</div>

	<!--   html분리 -->
	<script>
		includeHTML();
	</script>
</body>
</html>