<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>로그인 페이지</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/bootstrap/css/shop-homepage.css" rel="stylesheet">
<!-- html분리 -->
<script src="/js/includeHTML.js"></script>
</head>
<body>

	<!-- Navigation 분리 -->
	<nav include-html="/html/nav.html"></nav>

	<form action="" method="post">
		<div class="container">
			<h2 style="text-align: center">로그인</h2>
			<hr>

			<div class="form-group">
				<label for="userID">아이디</label> <input id="userID" name="userID" type="text" class="form-control" maxlength="16" placeholder="아이디를 입력하세요.">
			</div>

			<div class="form-group">
				<label for="userPW">비밀번호</label> <input id="userPW" name="userPW" type="password" class="form-control" placeholder="비밀번호를 입력하세요." maxlength="16" />
			</div>

			<div style="text-align: center">
				<botton>로그인</botton>
				<botton><a th:href="@{/gshop/join.do}">회원가입</a></botton>
                
			</div>
		</div>
	</form>
</body>
<!--   html분리 -->
<script>
	includeHTML();
</script>
</html>