<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<script th:src="@{/scripts/common.js}"></script>
<script th:src="@{/scripts/jquery.min.js}"></script>
<script th:src="@{/scripts/main.js}"></script>

<title>view</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/bootstrap/css/shop-homepage.css" rel="stylesheet">
<!-- html분리 -->
<script src="/js/includeHTML.js"></script>
</head>

<body>
	<!-- Navigation 분리 -->
	<nav include-html="/html/nav.html"></nav>

	<div style="width: 70%; margin-left: auto; margin-right: auto;">
		<form th:object="${board}">
			<table class="table table-bordered" style="text-align: center; border: 1px solid #dddddd;">
				<thead>
					<tr>
						<td colspan="4" style="background-color: #eeeeee;">게시글</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width: 20%;">게시판</td>
						<td style="width: 30%;" th:text="*{boardNumber}"></td>
						<td style="width: 20%;">카테고리</td>
						<td style="width: 30%;" th:text="*{postCategory}"></td>
					</tr>
					<tr>
						<td style="width: 20%;">작성자</td>
						<td style="width: 30%;" th:text="*{userID}"></td>
						<td style="width: 20%;">등록일</td>
						<td style="width: 30%;" th:text="*{postInputDate}"></td>
					</tr>
					<tr>
						<td style="width: 20%;">별점</td>
						<td style="width: 30%;" th:text="*{postScore}"></td>
						<td style="width: 20%;">추천수</td>
						<td style="width: 30%;" th:text="*{postRecommend}"></td>
					</tr>
					<tr>
						<td colspan="1">제목</td>
						<td colspan="3" th:text="*{postTitle}"></td>
					</tr>
					<tr>
						<td colspan="4">내용</td>
					</tr>
                    <tr>
                        <td style = "height:400px; text-align:left;" colspan="4" th:text="*{postContents}"></td>
                    </tr>
				</tbody>
			</table>
		</form>

            <div style = "text-align:right;">
                <a th:href="@{/gshop/list.do}" class="btn btn-info">뒤로가기</a>
                <a th:href="@{/gshop/write.do( postNumber=${board.postNumber} )}" class="btn btn-primary">수정하기</a>
                <button type="button" th:onclick="deleteBoard([[ ${board.postNumber} ]])" class="btn btn-danger">삭제하기</button>
            </div>
	</div>
	</div>
	
	   <!-- Footer -->
    <footer class="py-5 bg-dark" style = "margin-top:50px;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
	<!-- /.card-content -->

        <script th:inline="javascript">
            /*<![CDATA[*/

            	console.log("${session.userLo}");
            	
            function deleteBoard(postNumber) {

                if (confirm(postNumber + "번 게시글을 삭제할까요?")) {
                    var uri = /*[[ @{/gshop/delete.do} ]]*/null;
                    var html = "";

                    html += '<form name="dataForm" action="'+uri+'" method="post">';
                        html += '<input type="hidden" name="postNumber" value="'+postNumber+'" />';
                    html += '</form>';

                    $("body").append(html);
                    document.dataForm.submit();
                }
            }
            /*[- end of function -]*/
            /*]]>*/
        </script>

	<!--   html분리 -->
	<script>
        includeHTML();
    </script>
</body>
</html>